/* globals.xcss */
:root {
    --primary-color: rgb(7, 45, 172);
    --font-family: "Inter", sans-serif;
    --font-size: 16px;
    --container-size: 950px;
}

html, body {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: white;
    color: black;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    text-underline-offset: 4px;
}

a:hover {
    text-decoration: underline;
}

p, li, .summary {
    line-height: 1.65;
}

h1, h2, h3, h4 {
    font-weight: 500;
}
/* footer.xcss */
body footer {
    max-width: var(--container-size);
    margin-inline: auto;
    text-align: center;
    opacity: .7;
    margin-top: 70px;
    font-size: .9rem;
    padding: 50px 0;
}
/* archive.xcss */
#archive {
    max-width: 580px;
    margin: 0 auto;
    padding: 0 24px;
}

#archive .total {
    font-size: 15px;
}

#archive .group {
    margin: 24px auto;
}

#archive .group .key {
    font-size: 20px;
    margin-bottom: 12px;
}

#archive .group .value {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
}

#archive .group .value .date {
    display: inline-block;
    color: #999;
    min-width: 60px;
}

#archive .group .value .title {
    display: inline;
}

#archive .group .value .title a {
    color: #404040;
}

#archive .group .value .title a:hover {
    color: #0366d6;
}

#archive .group .value .tags {
    display: inline;
    margin-left: 7px;
}

#archive .group .value .tags a {
    background: #f2f2f2;
    padding: 4px 7px;
    color: #999;
    font-size: 14px;
    margin-right: 3px;
}

#archive .group .value .tags a:hover {
    color: #0366d6;
}
/* nav.xcss */
body nav {
    display: flex;
    max-width: var(--container-size);
    margin-inline: auto;
    padding-block: 30px;
    justify-content: flex-end;
}

body nav a {
    background-color: transparent;
    border-radius: 4px;
    padding: 4px 12px;
    display: inline-block;
    width: fit-content;
    transition: .35s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body nav a + a {
    margin-left: 10px;
}

body nav a:hover {
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
}

body nav a:active {
    opacity: .5;
}

body nav a[href="/"] + a {
    margin-left: auto;
}

body nav a span.arrow {
    display: inline-block;
    position: relative;
    top: -px;
    margin-right: 6px;
    font-size: 18px;
}

@media (max-width: 700px) {
    body nav a + a {
        margin-left: unset;
    }

    body nav a[href="/"] + a {
        margin-left: unset;
    }

    body nav a {
        padding: 12px 10px;
        width: 100%;
    }

    body nav {
        flex-direction: column;
        justify-content: flex-start;
    }
}
/* main.xcss */
body main {
    max-width: var(--container-size);
    margin-inline: auto;
}

body main header.profile {
    margin-bottom: 70px;
    text-align: center;
}

body main header.profile h1 {
    font-weight: 300;
    font-size: 2.3rem;
    margin-block: 0;
}

body main header.profile h2 {
    font-weight: 400;
    margin-top: 10px;
    font-size: .9rem;
    opacity: .7;
}

body main header.profile img {
    width: 80px;
    height: 80px;
}

@media (max-width: 700px) {
    body main {
        padding-inline: 15px;
    }
}
/* list-page.xcss */
body main #list-page {
    display: grid;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
    gap: 25px;
}

body main #list-page > a {
    position: relative;
    display: block;
    text-decoration: none;
    color: black;
    overflow: hidden;
    border-radius: 8px;
    height: 250px;
}

body main #list-page > a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body main #list-page > a:hover img {
    scale: 1.25;
}

body main #list-page > a > div {
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    --internal-space: 15px;
}

body main #list-page > a > div::before {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
                        rgba(0, 0, 0, 0.44) 0%,
                        rgba(0, 0, 0, 0.22) 12%,
                        rgba(0, 0, 0, 0.11) 30%,
                        rgba(0, 0, 0, 0.15) 80%,
                        rgba(0, 0, 0, 0.4) 100%);
    z-index: -1;
}

body main #list-page > a > div > div {
    display: flex;
    gap: 10px;
    padding: var(--internal-space) 0 0 var(--internal-space);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

body main #list-page > a > div h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 0 0 var(--internal-space) var(--internal-space);
    font-size: 1.6rem;
    font-weight: 300;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

@media (max-width: 700px) {
    body main #list-page {
        grid-template-columns: 1fr;
    }
}
/* code.xcss */
pre {
    background-color: #fcfcfc !important;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 14px 18px;
}

pre code {
    line-height: 1.6;
    font-size: 16px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

:not(pre) > code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    background-color: #fcfcfc !important;
    border: 1px solid gainsboro;
    font-size: 1rem;
    padding: 1px 4px;
    border-radius: 4px;
}
/* article.xcss */
body main #single .post-img {
    width: 100%;
    display: block;
    border-radius: 10px;
    height: 350px;
    object-fit: cover;
}

body main #single h1.title {
    font-size: 3.25rem;
    font-weight: 300;
    margin-bottom: 0;
}

body main #single .tip {
    padding: 30px 0;
    opacity: .75;
}

body main #single .content {
    font-size: 18px;
    padding-bottom: 60px;
}

body main #single .content h1, body main #single .content h2, body main #single .content h3 {
    margin-block: 2.5em 1em;
}

body main #single .content h1 a, body main #single .content h2 a, body main #single .content h3 a {
    opacity: 0;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body main #single .content h1 a:hover, body main #single .content h2 a:hover, body main #single .content h3 a:hover {
    opacity: 1 !important;
    text-decoration: none;
}

body main #single .content h1:hover a, body main #single .content h2:hover a, body main #single .content h3:hover a {
    opacity: .25;
}

body main #single .content p + p {
    margin-top: 1.5em;
}

body main #single .content img {
    display: block;
    margin-inline: auto;
    max-width: 100%;
}