{{ define "main" }}

<section id="single">

    <img class="post-img" src="{{ .Params.img }}" alt="{{ .Title }}" />

    <h1 class="title">{{ .Title }}</h1>

    <div class="tip">
        <time datetime="{{ .PublishDate }}">{{ i18n "publishDateFull" . }}</time>
        <span class="split">
            &bullet;
        </span>
        <span>
            {{ i18n "wordCount" . }}
        </span>
        <span class="split">
            &bullet;
        </span>
        <span>
            {{ i18n "minuteRead" . }}
        </span>
        {{ with .Params.tags }}
        <span class="split">
            &bullet;
        </span>
        {{ range . }}
        <span>{{ . }}</span>
        {{ end }}
        {{ end}}
    </div>

    {{ if or .Site.Params.showToc .Params.showToc }}
    {{ partial "toc.html" . }}
    {{ end }}

    <div class="content">
        {{ .Content }}
    </div>

    {{ partial "comment.html" . }}

</section>

{{ end }}